.project {
    margin: auto;
    border: 1px solid #24a392;
    border-radius: 5px;
    text-align: center;
    padding: 0.5rem;
  }
  .project h1 {
    font-size: 2rem;
    color: #7e0000;
    padding-bottom: 1rem;
    
  }

  
  .project h2 {
    font-size: 1rem;
    color: #464646;
    padding-bottom: 1rem;
    
  }
  
  .single-project__image {
    height: 25rem;
    width: 100%;
    margin: auto;
  }
  
  @media (min-width: 768px) {
    .project {
      width: 40rem;
    }
  }
  