.project {
    margin: 1rem 0;
    border: 1px solid #8e24a3;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: wheat;
  }
 
  
  .project__meta {
    font-size: 1rem;
    color: rgb(8, 1, 1);
    margin: 0;
  }

  
  .project__image {
    height: 10rem;
    width: 100%;
  }
  
  .project__actions {
    text-align: right;
  }
  .project__content {
    color: rgb(8, 1, 1);;
    font-size: 1.3rem;
  }
  
  @media (min-width: 768px) {
    .project {
      padding: 1rem;
      width: 40rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
  